$menu-width: 600px;

.profile {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  @include transform(translateX(0));
  @include transition-duration(0.3s);
}

.start-pointer {
  position: absolute;
  top: 20px;
  left: 20px;
  background: #fff;
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
  z-index: 9999;
  .icon {
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    cursor: pointer;
  }
  &:hover {
    @include transform(rotate(-180deg));
    @include transition-duration(0.3s);
  }
}

.container {
  width: 80%;
  height: 80%;
  margin: 0 auto;
}

.name {
  font-size: 3rem;
  font-weight: 200;
}

.job {
  font-size: 1.6rem;
  font-weight: 200;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.menu {
  width: $menu-width;
  height: 100%;
  background: #ACCC5E;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  padding: 10px;
  @include transform(translateX(-$menu-width));
  @include transition-duration(0.3s);
}

.menu-nav {
  color: #fff;
}

.menu-trigger {
  display: none;
}

.menu-trigger:checked  ~ .profile {
  @include transform(translateX($menu-width));
  @include transition-duration(0.3s);
}

.menu-trigger:checked ~ .menu {
  @include transform(translateX(0));
  @include transition-duration(0.3s);
}


$hexa-width: 67px;
$hexa-height: $hexa-width * 1.732;
$hexa-margin-top-bottom: 5px;
$hexa-margin-right-left: ($hexa-width * 0.25) + $hexa-margin-top-bottom;
$hexa-top: ($hexa-height + $hexa-margin-top-bottom) * 0.5;
 
.hexa {
  position: relative;
  display: inline-block;
  margin: $hexa-margin-top-bottom $hexa-margin-right-left;
  background: #136F92;
  text-align: center;
  @include transition(all, 0.2s, ease-in-out, 0s);
  &, &::before, &::after {
    width: $hexa-width;
    height: $hexa-height;
    border-radius: 20% / 5%;
  }
  &::before {
    background: inherit;
    content: "";
    position: absolute;
    left: 0;
    @include transform(rotate(-60deg));
  }
  &::after {
    background: inherit;
    content: "";
    position: absolute;
    left: 0;
    @include transform(rotate(60deg));
  }
  &:nth-child(even) {
    top: $hexa-top;
  }
  &:hover {
    background: #555;
  }
  .hexa__text {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    width: 140%;
    overflow: hidden;
    font-size: 1.4rem;
    line-height: 1.2;
    z-index: 100;
    color: #fff;
  }
}

